<link rel="import" href="../polymer/polymer.html">

<polymer-element name="weather-widget">
	<template>
		<link rel="stylesheet" href="weatherWidget.css">
		<link rel="stylesheet" href="../../snowbird_main.css">
		<div class="weatherMobileWidget">
			<div class="leftCol">
				<div class="mtnCam">MTN CAM</div>
				<ul>
					<li><div>24 hr</div><div>4"</div></li>
					<li><div>48 hr</div><div>6"</div></li>
					<li><div>Depth</div><div>14"</div></li>
					<li><div>YTD</div><div>55"</div></li>
				</ul>
				<button>Mtn Report</button>
			</div>
			<div class="rightCol">
				<div class="currentTemp">
					<span class='icon{{sky}}'>CURRENTLY</span>
					<span class='temp'>{{temp}}<span><sup>&deg</sup></span></span>
				</div>
				<ul>
                    <template repeat="{{day in daily}}">
                    	<li>
	                        <h5>{{day.day}}</h5>
	                        <span class="icon{{day.icon}}"></span>
	                        <span class='high'>{{day.high}}<sup>&deg</sup></span>
	                        <span class='low'>{{day.low}}<sup>&deg</sup></span>
	                    </li>
                    </template>
				</ul>
			</div>
		</div>
	</template>
    <script src="weatherWidgetScript.js"></script>
	<script>

		Polymer('weather-widget',{
			ready: function(){
		      var forecast = weather.getWeather();
		      
		      this.temp = forecast[0].temp;
		      this.sky = forecast[0].icon;
              this.daily = [
              	{day:forecast[0].day, icon:forecast[0].icon, high:forecast[0].high, low:forecast[0].low},
              	{day:forecast[1].day, icon:forecast[1].icon, high:forecast[1].high, low:forecast[1].low},
              	{day:forecast[2].day, icon:forecast[2].icon, high:forecast[2].high, low:forecast[2].low},
              	{day:forecast[3].day, icon:forecast[3].icon, high:forecast[3].high, low:forecast[3].low},
              	{day:forecast[4].day, icon:forecast[4].icon, high:forecast[4].high, low:forecast[4].low}
              ];
            }
        });

	</script>
</polymer-element>

<!--
<div class="weatherMobileWidget">
	<div class="leftCol">
		<div class="mtnCam">MTN CAM</div>
		<ul>
			<li><span>24 hr</span><span>0&#8221</span></li>
			<li><span>48 hr</span><span>0&#8221</span></li>
			<li><span>Depth</span><span>0&#8221</span></li>
			<li><span>YTD</span><span>0&#8221</span></li>
		</ul>
		<button>Mtn Report</button>
	</div>
	<div class="rightCol">
		<div class="currentTemp">
			<span class='icon'></span>
			<span class='temp'>46<span><sup>&deg</sup></span></span>
		</div>
		<ul>
		</ul>
	</div>
</div>
-->