<div class="weatherMobileWidget">
	<div class="leftCol">
		<div class="mtnCam">MTN CAM</div>
		<ul>
			<li><span>24 hr</span><span>0&#8221</span></li>
			<li><span>48 hr</span><span>0&#8221</span></li>
			<li><span>Depth</span><span>0&#8221</span></li>
			<li><span>YTD</span><span>0&#8221</span></li>
		</ul>
		<button>Mtn Report</button>
	</div>
	<div class="rightCol">
		<div class="currentTemp">
			<span class='icon'></span>
			<span class='temp'>46<span><sup>&deg</sup></span></span>
		</div>
		<ul>
		</ul>
	</div>
</div>