<link rel="import" href="../polymer/polymer.html">

<polymer-element name="weather-widget">
	<template>
		<link rel="stylesheet" href="weatherWidget.css">
		<div class="weatherMobileWidget">
			<div class="leftCol">
				<div class="mtnCam">MTN CAM</div>
				<ul>
					<li><span>24 hr</span><span>0&#8221</span></li>
					<li><span>48 hr</span><span>0&#8221</span></li>
					<li><span>Depth</span><span>0&#8221</span></li>
					<li><span>YTD</span><span>0&#8221</span></li>
				</ul>
				<button>Mtn Report</button>
			</div>
			<div class="rightCol">
				<div class="currentTemp">
					<span class='icon'></span>
					<span class='temp'>46<span><sup>&deg</sup></span></span>
				</div>
				<ul>
                    <template repeat="{{day in daily}}">
                        <li>{{day.temp}}</li>
                    </template>
				</ul>
			</div>
		</div>
	</template>
    <script src="weatherWidgetScript.js"></script>
	<script>

		Polymer('weather-widget',{
			ready: function(){
		      var forecast = weather.getWeather();
              console.log(forecast);
              
            }
        });

	</script>
</polymer-element>

<!--
<div class="weatherMobileWidget">
	<div class="leftCol">
		<div class="mtnCam">MTN CAM</div>
		<ul>
			<li><span>24 hr</span><span>0&#8221</span></li>
			<li><span>48 hr</span><span>0&#8221</span></li>
			<li><span>Depth</span><span>0&#8221</span></li>
			<li><span>YTD</span><span>0&#8221</span></li>
		</ul>
		<button>Mtn Report</button>
	</div>
	<div class="rightCol">
		<div class="currentTemp">
			<span class='icon'></span>
			<span class='temp'>46<span><sup>&deg</sup></span></span>
		</div>
		<ul>
		</ul>
	</div>
</div>
-->