doctype html
html(lang="en")
	head
		title #{title} - Snowbird Fake CLone
		link(rel='stylesheet', href='snowbird.css')
	body
		#header
			include header.jade
		#headerBlock
		.page
			include page.jade