@font-face {
	font-family:"ProximaNova", Helvetica, sans-serif;
}
html{
	font-size: 62.5%;
}
body{
	font:900 1.6rem "ProximaNova", Helvetica, sans-serif;
	margin:0;
	border-collapse:collapse;
}
button{
	background-color: #009bd1;
	border: none;
	border-collapse: collapse;
	border-radius: 1rem;
	color:#fff;
	text-transform: uppercase;
}
#header{
	height:48%; 25rem;
	width:100%;
	position: fixed;
	top:0;
	z-index: 100;
	/*transition:top 2s ease;*/
}
.drawer{
	height: 0px;
	overflow: hidden;
	transition: height 2s ease;
}
.drawer.opened{
	height:85%;
	transition:height 2s ease;
}
.cubeContent{
	width:100%;
	height:27rem;
	/*overflow:hidden;*/
	transform-style: preserve-3d;
	backface-visibility: hidden;
	transform: rotateX(55deg);
	transition: transform 0s ease;
}
.cubeContent.weather{
	transform: rotateX(55deg) rotateY(-90deg);
	transition: transform 2s ease;
}
.cubeContent.weather.opened{
	transform: rotateX(0) rotateY(-90deg);
	transition: transform 2s ease;
}
.cubeContent.weather.closed{
	transform: rotateX(55deg) rotateY(-90deg);
	transition: transform;
}
.cubeContent.nav{
	transform: rotateX(55deg) rotateY(0);
	transition: transform 2s ease;
}
.cubeContent.nav.opened{
	transform: rotateX(0) rotateY(0);
	transition: transform 2s ease;
}
.cubeContent.nav.closed{
	transform: rotateX(55deg) rotateY(0);
	transition: transform;
}

/*
-------------------------------------------------------
Start Navigation Widget Styling
-------------------------------------------------------
*/

.navMobileWidget{
	border: 1px solid rgba(0,0,0,0.5);
	display: block;
	height:100%;
	overflow: hidden;
	position: absolute;
	transform: rotateY(0deg) translateZ(20rem);
	width:100%;
	/*transform: perspective(100px) rotateX(60deg);
	transform: perspective(100px) rotateX(20deg);
	transform-origin:bottom;
	transition: transform 2s ease, height 2s ease;*/
}
.navMobileWidget ul{
	height:100%;
	background: #fff;
	padding:0;
	margin:0;
	list-style:none;
	display:flex;
	flex-flow: row wrap;
}
.navMobileWidget li{
	border: 1px solid #bcbcbc;
	border-left:none;
	border-top:none;
	border-collapse: collapse;
	height:24%;
	width:33%;
	overflow-y:hidden;
	overflow-x:hidden;
}
.navMobileWidget li a{
	/*background-size: 4rem;*/
	background-size: 46%;
	background-repeat: no-repeat;
	color:#000;
	display:block;
	font-size:1rem;
	font-weight: bold;
	height:auto;/*1.2rem;*/
	padding:37% 0 0 0;
	text-align:center;
	text-decoration: none;
	text-transform: uppercase;
	width:100%;
	
	transition: background-size 2s ease;
}
.navMobileWidget .search{
	width:66.66%;
	background: #66c3e3;
	display:flex;
	border-right: 1px solid #fff;
}
.navMobileWidget .search a{
	background-image: url(Images/nav-search-icon.png);
	background-position: 10% 50%;
	background-repeat: no-repeat;
	background-size: 10%;
	color:#fff;
	height:24%;
	font-size: 1.6rem;
	padding:9% 31% 10% 0;
	text-align: center;
	text-transform: capitalize;
	vertical-align: bottom;
}
.navMobileWidget .homeBtn{
	width:32%;
	background: #66c3e3;
	display:flex;
}
.navMobileWidget .homeBtn a{
	background: url(Images/nav-logo-white@2x.png) no-repeat;
	background-size: 30%;
	background-position: 50% 35%;
	color:#fff;
	padding-top:32%;
}
.navMobileWidget .winterBtn a{
	background: url(Images/nav-winter@2x.png) top;
}
.navMobileWidget .summerBtn a{
	background: url(Images/nav-summer@2x.png) top;
}
.navMobileWidget .lodgingBtn a{
	background: url(Images/nav-lodging@2x.png) top;
}
.navMobileWidget .diningBtn a{
	background: url(Images/nav-dining@2x.png) top;
}
.navMobileWidget .spaBtn a{
	background: url(Images/nav-spa@2x.png) top;
}
.navMobileWidget .eventsBtn a{
	background: url(Images/nav-events@2x.png) top;
}
.navMobileWidget .groupsBtn a{
	background: url(Images/nav-groups@2x.png) top;
}
.navMobileWidget .shopBtn a{
	background: url(Images/nav-shop@2x.png) top;
}
.navMobileWidget .ticketsBtn a{
	background: url(Images/nav-tickets@2x.png) top;
}

/*
-------------------------------------------------------
Start Weather Widget Styling
-------------------------------------------------------
*/

.weatherMobileWidget{
	background-color:#353230;
	color:#fff;
	display:block;
	height:100%;
	overflow:hidden;
	position: absolute;
	transform: rotateY(90deg) translateZ(20rem);
	width:100%;
	
}
.weatherMobileWidget ul{
	list-style: none;
	text-decoration: none;
	padding: 0;
	margin:0;
}
.weatherMobileWidget .leftCol{
	float:left;
	width:42%;
	height:100%;
	background-color:#1c1c1c;
	top:0;
}
.weatherMobileWidget .leftCol .mtnCam{
	display: block;
	width:38%;
	height:5%;
	background: url(Images/nav-cam@2x.png) no-repeat top;
	/*background-size:5.5rem;*/
	background-size:90%;
	/*margin:1rem 30%;*/
	margin: 11% 0 8% 31%;
	padding-top:26%;
	font-size:.7rem;
	text-decoration:none;
	text-indent: -3%;
	text-align: center;
}
.weatherMobileWidget .leftCol ul{
	height:45%;
}
.weatherMobileWidget .leftCol ul li{
	width:100%;
	height:25%;
	font-size: 1.7rem;
	text-align: center;
}
.weatherMobileWidget .leftCol ul li:first-child{
	background-color: #ff5a00;
}
.weatherMobileWidget .leftCol ul span:first-child{
	color:#bcbcbc;
	padding-left: 2%;
	width:30%;
	font-size:1rem;
}
.weatherMobileWidget .leftCol ul span{
	display:inline-block;
	text-align:left;
}
.weatherMobileWidget .leftCol button{
	/*color:#fff;
	
	text-transform: uppercase;
	border-collapse: collapse;
	border-radius: 1rem;
	border:none;
	background-color:#009bd1;*/
	font-size: 0.9rem;
	width:63%;
	margin: 8% 0 5% 19%;
	padding: 4% 0;
}
.weatherMobileWidget .rightCol{
	width:58%;
	height:100%;
	float:left;
}
.weatherMobileWidget .rightCol .currentTemp{
	height:30%;
	font-size: 5rem;
	text-align: center;
	display: flex;
	flex-flow: nowrap;
}

.weatherMobileWidget .rightCol .currentTemp .temp{
	font-size: 4.7rem;
	padding: 2% 18% 0 3%;
	text-align: left;
}

.weatherMobileWidget .rightCol .currentTemp .icon{
	/*background: url(Images/partly_cloudy.png) no-repeat center;*/
	border: none;
	background-position: 100% 75%;
	width:48%;
	height:100%;
	display:inline-flex;
	background-size: 65%;
}
/*
.rightCol img.clear{
	background: url(Images/clear.png) no-repeat center;
}
.rightCol img.clear.night{
	background: url(Images/clear_night.png) no-repeat center;
}
.rightCol img.cloudy{
	background: url(Images/cloudy.png) no-repeat center; no-repeat center
}
.rightCol img.cloudy.night{
	background: url(Images/cloudy_night.png) no-repeat center;
}
.rightCol img.partlycloudy{
	background: url(Images/partly_cloudy.png) no-repeat center;
}
.rightCol img.partlycloudy.night{
	background: url(Images/partly_cloudy_night.png) no-repeat center;
}
.rightCol img.rain{
	background: url(Images/rain.png) no-repeat center;
}
.rightCol img.rain.night{
	background: url(Images/rain_night.png) no-repeat center;
}
.rightCol img.snow{
	background: url(Images/snow.png) no-repeat center;
}
.rightCol img.snow.night{
	background: url(Images/snow_night.png) no-repeat center;
}
*/
.weatherMobileWidget .rightCol ul{
	height: 57%;
}
.weatherMobileWidget .rightCol li{
	height: 20%;
	width:100%;
	text-transform: uppercase;
	font-size: 2rem;
	border-collapse: collapse;
	display: flex;
	flex-flow: nowrap;
}
.weatherMobileWidget ul li .icon{
	background: url(Images/clear_blue.png) no-repeat left;
	padding-left: 15%;
	background-size: 90%;
	background-position: left;
}
/*
.weatherMobileWidget ul */
.icon{
	background-position: center;
	background-repeat: no-repeat;
}
.icon.clear{
	background-image: url(Images/clear.png);
}
.icon.clear.blue{
	background-image: url(Images/clear_blue.png);
}
.icon.clear.black{
	background-image: url(Images/clear_black.png);
}
.icon.clear.night{
	background-image: url(Images/clear_night.png);
}
.icon.clear.night.blue{
	background-image: url(Images/clear_night_blue.png);
}
.icon.clear.night.black{
	background-image: url(Images/clear_night_black.png);
}
.icon.cloudy{
	background-image: url(Images/cloudy.png);
}
.icon.cloudy.blue{
	background-image: url(Images/cloudy_blue.png);
}
.icon.cloudy.black{
	background-image: url(Images/cloudy_black.png);
}
.icon.cloudy.night{
	background-image: url(Images/cloudy_night.png);
}
.icon.cloudy.night.blue{
	background-image: url(Images/cloudy_night_blue.png);
}
.icon.cloudy.night.black{
	background-image: url(Images/cloudy_night_black.png);
}
.icon.partlyCloudy{
	background-image: url(Images/partly_cloudy.png);
}
.icon.partlyCloudy.blue{
	background-image: url(Images/partly_cloudy_blue.png);
}
.icon.partlyCloudy.black{
	background-image: url(Images/partly_cloudy_black.png);
}
.icon.partlyCloudy.night{
	background-image: url(Images/partly_cloudy_night.png);
}
.icon.partlyCloudy.night.blue{
	background-image: url(Images/partly_cloudy_night_blue.png);
}
.icon.partlyCloudy.night.black{
	background-image: url(Images/partly_cloudy_night_black.png);
}
.icon.rain{
	background-image: url(Images/rain.png);
}
.icon.rain.blue{
	background-image: url(Images/rain_blue.png);
}
.icon.rain.black{
	background-image: url(Images/rain_black.png);
}
.icon.rain.night{
	background-image: url(Images/rain_night.png);
}
.icon.rain.night.blue{
	background-image: url(Images/rain_night_blue.png);
}
.icon.rain.night.black{
	background-image: url(Images/rain_night_black.png);
}
.icon.snow{
	background-image: url(Images/snow.png);
}
.icon.snow.blue{
	background-image: url(Images/snow_blue.png);
}
.icon.snow.black{
	background-image: url(Images/snow_black.png);
}
.icon.snow.night{
	background-image: url(Images/snow_night.png);
}
.icon.snow.night.blue{
	background-image: url(Images/snow_night_blue.png);
}
.icon.snow.night.black{
	background-image: url(Images/snow_night_black.png);
}

.weatherMobileWidget .rightCol li h5{ /*span:first-child{*/
	display: inline-block;
	margin:0;
	padding: 6% 2% 5% 15%;
	width: 16%;
	color:#bcbcbc;
	font-size: 1rem;
	text-align:center;
}
.low{
	font-weight: 400;
	color:#6a90a0;
	min-width:18%;
	padding: 4% 0 0 3%;
}
.high{
	padding: 2% 0 0 3%;
	min-width:18%;
}

/*
-------------------------------------------------------
Start Header Styling
-------------------------------------------------------
*/

#headerBar{
	height:15%;
	width:100%;
	border:none;
	border-bottom: 3px solid #bcbcbc;
	display: flex;
	flex-flow: row wrap;
}
#headerBar .border{
	height:6%;
	width:100%;
	background-color: #b6d99f;
}
#headerBar .border > span{
	width:50%;
	background-color: none;
}
#headerBar .navWidgetBtn{
	height: 95%;
	width:15%;
	background-color: white;
	display: inline-flex;
	border: none;
	transition: background-color ease;
}
#headerBar .navWidgetBtn:active~weatherWBtn{
	background-color: blue;
}
.navIcon{
	height: 100%;
	width: 100%;
	background: url(Images/plus@2x.png) no-repeat center;
	background-size: 3rem;
	transform: rotateZ(0);
	transition: transform 1s ease;
}
.navIcon.active{
	transform: rotateZ( 45deg);
	transition: transform 1s ease 3s;
}
#headerBar .logo{
	text-align: center;
	text-transform: lowercase;
	width:70%;
	height:95%;
	background-color: white;
}
#headerBar .logo > span{
	background: url(Images/wings.png) no-repeat right 0px;
	background-position: right center;
	background-size: 29px 16px;
	padding: 4% 13% 3% 0;
	display: inline-block;
}
#headerBar .logo ul{
	display: none;
	list-style: none;
	text-decoration: none;
	padding:0;
	width:auto;
	min-width: 700px;
}
#headerBar .logo ul li{
	padding-left:3%;
	padding-right: 2%;
	width:auto;
}
#headerBar .logo ul li a{
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	font-size: 1.2rem;
	background: none;
	font-weight: 600;
	white-space: nowrap;
}
#headerBar .weatherWidgetBtn{
	height:95%;
	width:15%;
	/*background: url(Images/clear_black.png) no-repeat center;*/
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
	position: relative;
	display: inline-flex;
	border: none;
	transition: background 1s ease;
}
#headerBar .weatherWidgetBtn .icon{
	height: 100%;
	width: 100%;
}
/*
.weatherWidgetBtn.clear{
	background-image: url(Images/clear_black.png);
}
.weatherWidgetBtn.cloudy{
	background-image: url(Images/cloudy_black.png);
}
.weatherWidgetBtn.partly_cloudy{
	background-image: url(Images/partly_cloudy_black.png);
}
.weatherWidgetBtn.rain{
	background-image: url(Images/rain_black.png);
}
.weatherWidgetBtn.snow{
	background-image: url(Images/snow_black.png);
}
*/
#headerBar .weatherWidgetBtn.active .icon{
	/*height:95%;
	width:15%;*/
	background: url(Images/nav-scroll@2x.png) no-repeat center;
	background-color: #fff;
	transition: background 1s ease 3s;
}

/*
----------------------------------------------------------------
Page Plotting
----------------------------------------------------------------
*/
.page{
	display: block;
	margin-top:7vh;
	overflow: hidden;
	position: relative;
	transition: margin-top 2s ease;
}
.blueSection{
	border: .1rem solid #bcbcbc;
	border-left: .4rem solid #7fcae4;
	padding:8% 0 0 7%;
}
.greenSection{
	border: .1rem solid #bcbcbc;
	border-left: .4rem solid #b6d99f;
	padding:9% 0 0 7%;
}
h4{
	font-weight: 900;
	font-size: .5rem;
}
.page.opened{
	margin-top:76%;
}
.page .welcomeImg img{
	/*background: url("Images/welcome_mobile.jpg") no-repeat center;
	background-size: cover;
	border-collapse: collapse;
	height:0;
	padding-top:57%;*/
	width:100%;
}
.page .frontPage{
	overflow: hidden;
}
.page .leftCol{
	background-color: #faf8f6;
	height:auto;
	width:44%;
	float: left;
}
.page .contact{
	background: url("Images/phone-black@2x.png") no-repeat center;
	background-size: 43%;
	width: 88%;
	padding: 15% 0;
	background-color: #fff;
	border-radius: 3rem;
	border-style: solid;
	border-color: #bcbcbc;
	border-width: 0.1rem;

}
.page .mainLinks{
	list-style: none;
	padding-left: 1%;
	margin-bottom: 0;
}
.page .mainLinks li{
	font-size: 1.3rem;
	color:#009bd1;
	padding-bottom: 9%;
}
.page h5{
	font-weight: 900;
	font-size: 1.1rem;
	margin: 0 15% 0 0;
}
.page .leftCol h5 span{
	font-weight: 400;
	color: #7e7c7a;
}
.page p{
	font-size: 1.1rem;
	font-weight: 400;
	margin: 7% 15% 7% 0;
	color: #7e7c7a;
	line-height: 14px;
}
.page .leftCol .expand{
	font-weight: 900;
	color:#009bd1;
}
.page .rightCol{
	background-color: #fff;
	height:auto;
	width:56%;
	border-collapse: collapse;
	float: left;

}
.page .seasonal{
	margin: 10% 7% 14% 10%;
}
.page .seasonal img{
	width: 100%;
}
.page .rightCol h5{
	background: url("Images/wing_blue.png") no-repeat right;
	font-size: 1.5rem;
	padding-top: 1%;
	margin: 0;
	background-size: 8%;
}
.page .rightCol p{
	margin: 0;
	width: 100%;
	font-size: 1.2rem;
	padding: 5% 0 0 0;
	line-height: 1.5rem;
}

/*
----------------------------------------------------------------
Fake Page Plotting
----------------------------------------------------------------
*/
#Plot{
	opacity: 0.5;
	display: none;
	height:3000px;
	width:100%;
	margin-top:13%;
	position: absolute;
	top:0;
	transition: margin-top 2s ease;
}
#Plot.opened{
	margin-top:84%;
}
#Plot #plotNav{
	display:none;
	background: url(Images/plot_navigation.png) no-repeat top;
	background-size: contain;
	height:500px;
}
#Plot #plotWeather{
	display:none;
	background: url(Images/plot_weather.png) no-repeat top;
	background-size: contain;
	height: 48%;
}
#Plot #plotBody{
	display: block;
	background: url(Images/plot_body.png) no-repeat top;
	background-size: cover;
	height:100%;
}

/*
-----------------------------------------------------------------
Footer Plotting
-----------------------------------------------------------------
*/
.Footer{
}
.Footer .social{
	background-color: #000;
	padding:1% 10%;
	border-bottom: solid #bcbcbc 0.1rem;
}
.Footer .social img{
	width:100%;
	opacity:0.4;
}
.Footer .links{
	background-color: #353230;
	display: flex;
}
.Footer .links ul{
	width: 50%;
	list-style: none;
	margin: 6% 0 0 7%;
	padding: 0;
}
.Footer .links ul li:first-child{
	color: #bcbcbc;
	font-size: 1rem;
	text-transform: uppercase;
	padding-bottom: 13%
}
.Footer .links ul li{
	color:#009bd1;
	font-size: 1.1rem;
	padding-bottom: 9%
}
.Footer .navLinks ul{
	display:flex;
	flex-wrap: wrap;
	list-style: none;
	margin:0;
	padding:0 0 5% 0;
}
.Footer .navLinks ul li{
	border: none;
	width: 28%;
	color: #bcbcbc;
	font-weight: 400;
	font-size: 1.2rem;
	padding: 3% 0 0 5%;
}

@media (min-width: 600px){
	#header{
		position: relative;
	}
	#header .drawer{
		display:none;
	}
	#headerBar{
		margin:0 auto;
		border:none;
		display:flex;
		flex-flow:wrap;
		min-width: 1000px;
	}
	#headerBar .border{
		height:0.5vh;
		background: linear-gradient(to right, #7fcde8 0, #7fcde8 50%, #b6d99f 52%, #b6d99f 100%);		
	}
	#headerBar .navWidgetBtn{
		display: none;
	}
	#headerBar .logo{
		text-align: left;
		width:auto;
		margin:0 auto;
		overflow: hidden;
}
	#headerBar .logo span{
		font-size: 2.5rem;
		padding: 0 58px 0 0;
		background-size: 58px;
		background-position: right bottom;
		margin: 2% 0;
		display: inline-flex;
	}
	#headerBar .logo ul{
		display:inline-flex;
	}
	#headerBar .weatherWBtn{
		display: none;
	}
	.page{
		display:none;
	}
	.page.desktop{
		display:block;
		margin-top: 0;
	}
	.page.desktop .leftCol{
		width:auto;
		border-collapse: collapse;
		float:left;
	}
	.page.desktop .leftCol .welcomeImg img{
		width:100%;
	}
	.page.dektop .rightCol{
		width: auto;
		float:left;
	}

}