@font-face {
	font-family:"ProximaNova", Helvetica, sans-serif;
}
body{
	font:900 1.2rem "ProximaNova", Helvetica, sans-serif;
	margin:0;
	border-collapse:collapse;
}
#headerWrapper{
	height:20rem;
	width:100%;
	position: relative;
	top:0;
	transition:top 2s ease;
}
#widgetWrapper{
	background-color:#353230;
	color:#fff;
	height:0;
	overflow:hidden;
	transform: perspective(100px) rotateX(60deg);
	transform-origin:bottom;
	transition: transform 2s ease, height 2s ease;
}
#widgetWrapper .leftCol{
	float:left;
	width:45%;
	height:100%;
	background-color:#1c1c1c;
	top:0;
}
#widgetWrapper .leftCol .mtnCam{
	display: block;
	width:38%;
	height:5%;
	background: url(Images/nav-cam@2x.png) no-repeat top;
	background-size:90%;
	margin:10% 30%;
	padding-top:27%;
	font-size:.5rem;
	text-decoration:none;
	text-indent: 6%
}
#widgetWrapper ul{
	list-style: none;
	text-decoration: none;
	padding: 0;
	margin:0;
	height:45%;
}
#widgetWrapper .leftCol ul li:first-child{
	background-color: #ff5a00;
}
#widgetWrapper .leftCol ul li{
	width:100%;
	height:25%;
}
#widgetWrapper .leftCol ul span:first-child{
	color:#bcbcbc;
	padding-left: 30%;
	width:30%;
	font-size:.8rem;
}
#widgetWrapper .leftCol ul span{
	display:inline-block;
	text-align:left;
}
#widgetWrapper .leftCol button{
	color:#fff;
	font: bold .6rem "ProximaNova",Helvetica,Arial,sans-serif;
	text-transform: uppercase;
	border-collapse: collapse;
	margin:0;
	border-radius: 1rem;
	border:none;
	background-color:#009bd1;
	width:70%;
	margin-left: 15%;
	padding: 5% 0;
}
#widgetWrapper .rightCol{
	width:55%;
	height:100%;
	float:left;
}
#widgetWrapper .rightCol .currentTemp{
	height:30%;
	font-size: 4rem;
	text-align: center;
}
#widgetWrapper .rightCol .currentTemp .icon{
	background: url(Images/clear.png) no-repeat left;
	padding-left:35%;
}
#widgetWrapper ul li .icon{
	background: url(Images/snow_blue.png) no-repeat left;
	padding-left: 15%;
	background-size: auto 100%;
}
#widgetWrapper .rightCol ul li:nth-child(odd) .icon{
	background: url(Images/clear_blue.png) no-repeat left;
	background-size: auto 100%;
}

#widgetWrapper .rightCol li{
	height: 25%;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5rem;
}
#widgetWrapper .rightCol li span:first-child{
	display: inline-block;
	padding-left: 5%;
	width: 25%;
	color:#bcbcbc;
	font-size: .8rem;
}
.low{
	font-weight: 400;
	color:#6a90a0;
}
.navWrapper{
	overflow: hidden;
	height:0;
	transform: perspective(100px) rotateX(60deg);
	transform-origin:bottom;
	transition: transform 2s ease, height 2s ease;
}
.navWrapper ul{
	height:100%;
	background: #fff;
	padding:0;
	margin:0;
	list-style:none;
	display:flex;
	flex-flow: row wrap;
}
.navWrapper li{
	width:33.33%;
	height:25%;
	border-collapse: collapse;
}
.navWrapper .searchBar{
	width:66.66%;
	background: #66c3e3;
	display:flex;
	border-right: 1px solid #fff;
}
.navWrapper .homeBtn{
	width:33%;
	background: #66c3e3;
	display:flex;
}
.navWrapper li a{
	display:block;
	text-align:center;
	text-decoration: none;
	text-transform: uppercase;
	font-size:.7rem;
	font-weight: bold;
	padding:3rem 0 .5rem 0;
	width:100%;
	height:10px;
	color:#000;
	border:1px solid #b0b0b0;
	border-top: none;
	border-left: none;
	background-size: 50%;
	background-repeat: no-repeat;
}
.winterBtn a{
	background: url(Images/nav-winter@2x.png) top;
}
.summerBtn a{
	background: url(Images/nav-summer@2x.png) top;
}
.lodgingBtn a{
	background: url(Images/nav-lodging@2x.png) top;
}
.diningBtn a{
	background: url(Images/nav-dining@2x.png) top;
}
.spaBtn a{
	background: url(Images/nav-spa@2x.png) top;
}
.eventsBtn a{
	background: url(Images/nav-events@2x.png) top;
}
.groupsBtn a{
	background: url(Images/nav-groups@2x.png) top;
}
.shopBtn a{
	background: url(Images/nav-shop@2x.png) top;
}
.ticketsBtn a{
	background: url(Images/nav-tickets@2x.png) top;
}

#headerBar{
	height:3rem;
	width:100%;
	border:none;
}
#headerBar .border{
	float:left;
	height:10%;
	width:100%;
	background-color: linen;
}
#headerBar .navWBtn{
	height: 95%;
	width:15%;
	background-color: white;
	display: inline-flex;
	border: none;
	float:left;
	transition: background-color 2s ease;
}
#headerBar .navWBtn:active~weatherWBtn{
	background-color: blue;
}
#navClick{
	height: 100%;
	width: 100%;
	background: url(Images/plus@2x.png) no-repeat center;
	background-size: 70%;
	transition:background-color 2s ease;
}
#navWBtn:active{
}
#headerBar .logo{
	text-align: center;
	text-transform: lowercase;
	width:70%;
	height:95%;
	background-color: white;
	float:left;
}
#headerBar .logo > span{
	background: url(Images/wings.png) no-repeat right 0px;
	background-size: 29px 16px; 
	padding-right: 33px;
}
#headerBar .weatherWBtn{
	height:95%;
	width:15%;
	background: url(Images/clear_black.png) no-repeat center;
	background-color: white;
	position: relative;
	display: inline-flex;
	border: none;
	transition: background-color 2s ease;
	transition: background;
}
#headerBar .weatherWBtn.opened{
	height:95%;
	width:15%;
	background: url(Images/nav-scroll@2x.png) no-repeat center;
	border:none;
}
weatherWBtn:active{
	background-color:yellow;
}
weatherWBtn:active~#headerBlock{
	background-color:maroon;
	height:20rem;
}
weatherWBtn:active~#navWBtn{
	background-color:blue;
}

#weatherWidgetMobile {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height opacity 2s ease-in;
}
#weatherWidgetMobile.open {
	height: 300px;
	opacity: 1;
}

#weatherWidgetMobile .wrapper {
	position: relative;
	height: 300px;

}