doctype html
html(lang="en")
	head
		link(rel='stylesheet', href='snowbird.css')
		title="Fake Snowbird Clone built with JADE"
	body
		#header
			.drawer
				.cubeContent
					include ./components/navigationWidget/navigationWidget.html
					include ./components/weatherWidget/weatherWidget.html
			include ./components/header/headerBar.html
		#headerBlock
			include ./components/header/headerBlock.html
		include ./content/frontpage/page.html
		include ./components/footer/footer.html
		include ./components/navLinks/navLinks.html