// site map
doctype html
head
	link(rel="stylesheet", type="text/css", href+snowbird.css)
	title Snowbird Clone build as HTML
body
	include ./components/header/header.html
	include ./components/navigationWidget/navigationWidget.html