each season in [["cliff_fall_mobile","Fall Getaway","Escape to Snowbird and receive a $50 gift card per night!"],["LaborDaySkiSale_mobile","Winter Specials","Book now for the best deals on the coming winter!"],["birdjobs_mobile","Bird Jobs","Snowbird is hiring. Apply now!"],["seasonpass_mobile","Season Pass","Buy your 2014/15 Season Pass today!"],["mtncollective_mobile","Mtn. Collective","14 days at 7 world-class destinations. Buy your Mountain Collective now."]]
	li(class="seasonal", href="#")
		img(class="mobile",src="Images/"+"#{season[0]}"+".jpg")
		h5 #{season[1]}
		p #{season[2]}