#footer
	.social FIND US
		img(src="Images/find-us-icons@2x.png")
	.links
		ul
			h6 Specials
			each link in ["Winter 2014/15","December Snow Sale","January Snow Sale","Fall Getaway","Dine And Stay","Cliff Spa Specials","Whtie Rooms",'All Specials']
				li(href="#{link}") #{link}
		ul
			h6 Buy Online
			each link in ['Lodging','Lift Tickets','Mountain School','Season Passes','The Cliff Spa','Ground Transport','Apparel And Gifts','Gift Cards']
				li(href="#{link}") #{link}
			p 1-800-XXX-XXXX