<div id="footer">
      <div class="social">FIND US<img src="Images/find-us-icons@2x.png"></div>
      <div class="links">
        <ul>
          <h6>Specials</h6>
          <li href="Winter 2014/15">Winter 2014/15</li>
          <li href="December Snow Sale">December Snow Sale</li>
          <li href="January Snow Sale">January Snow Sale</li>
          <li href="Fall Getaway">Fall Getaway</li>
          <li href="Dine And Stay">Dine And Stay</li>
          <li href="Cliff Spa Specials">Cliff Spa Specials</li>
          <li href="Whtie Rooms">Whtie Rooms</li>
          <li href="All Specials">All Specials</li>
        </ul>
        <ul>
          <h6>Buy Online</h6>
          <li href="Lodging">Lodging</li>
          <li href="Lift Tickets">Lift Tickets</li>
          <li href="Mountain School">Mountain School</li>
          <li href="Season Passes">Season Passes</li>
          <li href="The Cliff Spa">The Cliff Spa</li>
          <li href="Ground Transport">Ground Transport</li>
          <li href="Apparel And Gifts">Apparel And Gifts</li>
          <li href="Gift Cards">Gift Cards</li>
          <p>1-800-XXX-XXXX</p>
        </ul>
      </div>
    </div>