ul.events
	h4 EVENTS
	each event in [["TODAY - OCT 21 -","Apres Specials","The Aerie 50% off Appetizers; Daily 5-6 p.m. $3 Drafts; Daily 5-10 p.m. Martini"],["Oct 21 - 22","Ski Conditioning Class","Be ready to hit the slopes stronger and better than ever. This 10-week course foceses on functional strength training."]]
	.event
		h5 "#{event[0]}": span "#{event[1]}""
		p "#{event[2]}"
		p.expand (href="#") more...