#header{
	height:48%; 25rem;
	width:100%;
	position: fixed;
	top:0;
	z-index: 100;
	/*transition:top 2s ease;*/
}

	border:none;
	border-bottom: 3px solid #bcbcbc;
	display: flex;
	flex-flow: row wrap;
}

#headerBlock{
	height:69px;
	transition: height 2s ease;
}
#headerBlock.opened{
	height:48%;
}
.drawer{
	height: 0px;
	overflow: hidden;
	transition: height 2s ease;
}
.drawer.opened{
	height:85%;
	transition:height 2s ease;
}
.cubeContent{
	width:100%;
	height:27rem;
	/*overflow:hidden;*/
	transform-style: preserve-3d;
	backface-visibility: hidden;
	transform: rotateX(55deg);
	transition: transform 0s ease;
}
.cubeContent.weather{
	transform: rotateX(55deg) rotateY(-90deg);
	transition: transform 2s ease;
}
.cubeContent.weather.opened{
	transform: rotateX(0) rotateY(-90deg);
	transition: transform 2s ease;
}
.cubeContent.weather.closed{
	transform: rotateX(55deg) rotateY(-90deg);
	transition: transform;
}
.cubeContent.nav{
	transform: rotateX(55deg) rotateY(0);
	transition: transform 2s ease;
}
.cubeContent.nav.opened{
	transform: rotateX(0) rotateY(0);
	transition: transform 2s ease;
}
.cubeContent.nav.closed{
	transform: rotateX(55deg) rotateY(0);
	transition: transform;
}

@media (min-width: 600px){
	#header{
		height:auto;
		background-color: #fff;
		padding-bottom: 1.5%;
	}
	#headerBar{
		height:20%;
		margin:0 auto;
		border:none;
		display:flex;
		flex-flow:wrap;
		min-width: 1000px;
	}
	#headerBar .border{
		height:0.5vh;
		background: linear-gradient(to right, #7fcde8 0, #7fcde8 35%, #fff 35%, #fff 35.5%, #b6d99f 35.5%, #b6d99f 100%);
	}
	#headerBar .navWidgetBtn{
		display: none;
	}
	#headerBar .logo{
		text-align: center;
		width:1000px;
		margin:0 auto;
		display: flex;
	}
	#headerBar .logo ul{
		display: inline-flex;
		min-width: 700px;
		margin-top: 1%;
	}
	#headerBar .logo ul li{
		display: list-item;
		font-size:1.6rem;
	}
	#headerBar .logo ul li:first-child{
		font-size: 2.5rem;
		padding: 0 0 0 0;
		background-size: 100%;
		width:30%;
		margin: 1% 0 0 4%;
	}
	#headerBar .weatherWidgetBtn{
		display: none;
	}
	#headerBlock{
		transition: height 0s ease;
	}
	.drawer{
			display:none;
	}
}