#headerBar
	.border
	a.navWidgetBtn(href="#")
		span.navIcon
	.logo
		ul
			li
			each item in ['winter','summer','lodging','dining','spa','events','groups','shop']
				li.item
					a(href="#")= item
			li.search
				img(href="#",src="Images/search-icon.png")
	a.weatherWidgetBtn(href="#")
		span.icon