ul.news
	h4 NEWS
	each item in [["tweet","NOV 4","RT @PowderMagazine: Registration opened for the 2015 Subaru Freeride Series @Snowbird, @Telluride, and @Bigskyresort..."],["tweet","NOV 4","Get $20 off #PaintNite at the Aerie tomorrow night with Voucher Code: snowbird1. http://t.co/oinwgOmXlA #drinkcreatively"],["tweet","NOV 4","Create your own masterpiece with a drink in hand this Wed night at The Aerie. http://t.co/oinwgOmXlA @paintniteslc http://t.co/cIKhfQ8uei"],["tweet","NOV 4","RT @SkiUtah: The Monster Dump contest just launched today at 4pm in honor of the +12 inches of snow that fe... http://t.co/WgLn4G1iZ5..."],["fbpost","NOV 4","Follow along with the artist and create your own masterpiece with a drink in hand this Wednesday night at The Aerie. #drinkcreatively..."]]
		li(class="#{item[0]}")
			h5 #{item[1]}
			p #{item[2]}
			p.expand more...